/.gitkraken/config
/.gitkraken/log
/.mozilla/firefox/5dvbdi8m.default/*
/.cahce/mozilla/firefox/5dvbdi8m.default/*
/.config/Atom/GPUCache/*


\.cache/mozilla/firefox/5dvbdi8m\.default/cache2/entries/

\.mozilla/firefox/5dvbdi8m\.default/

\.config/Atom/Cache/

\.config/GitKraken/Cache/

\.cache/mozilla/firefox/5dvbdi8m\.default/safebrowsing/

\.config/Atom/GPUCache/

\.cache/mozilla/firefox/5dvbdi8m\.default/thumbnails/

\.gitkraken/profiles/d6e5a8ca26e14325a4275fc33b17e16f/

\.config/GitKraken/GPUCache/

\.atom/nohup\.out

\.atom/storage/application\.json

\.bash_history

\.config/Atom/IndexedDB/file__0\.indexeddb\.leveldb/000003\.log

\.config/Atom/Local Storage/file__0\.localstorage

\.config/Atom/QuotaManager

\.local/share/recently-used\.xbel

\.fluxbox/init

\.cache/efreet/

\.cache/mozilla/firefox/5dvbdi8m\.default/cache2/

\.cache/mozilla/firefox/5dvbdi8m\.default/startupCache/

\.config/pulse/

\.local/share/xorg/

\.gitkraken/secFile

\.atom/blob-store/

\.atom/\.apm/_cacache

\.cache/mozilla/firefox/5dvbdi8m\.default/

\.config/Atom/IndexedDB/file__0\.indexeddb\.leveldb/

\.atom/\.apm/

\.atom/\.node-gyp/

\.atom/\.node-gyp/\.config/configstore/

\.atom/compile-cache/

\.atom/packages/platformio-ide-terminal/

\.cache/

\.cache/*

\.config/configstore/

\.config/dconf/user

\.local/share/



*.ini

\.mozilla/firefox/Crash Reports/

\.config/chromium/BrowserMetrics-spare\.pma

\.config/Slack/Cache/

\.config/Slack/Cookies

\.config/Slack/GPUCache/data_1

*.log

\.config/chromium/CertificateRevocation/4696/

\.config/chromium/CertificateTransparency/876/_metadata/

*.sth

\.config/chromium/Default/

\.config/chromium/Local State

\.config/chromium/ShaderCache/GPUCache/

*.store

*.fingerprint

\.config/chromium/CertificateTransparency/876/
