/.gitkraken/config
/.gitkraken/log
/.mozilla/firefox/5dvbdi8m.default/*
/.cahce/mozilla/firefox/5dvbdi8m.default/*
/.config/Atom/GPUCache/*


\.cache/mozilla/firefox/5dvbdi8m\.default/cache2/entries/

\.mozilla/firefox/5dvbdi8m\.default/

\.config/Atom/Cache/

\.config/GitKraken/Cache/

\.cache/mozilla/firefox/5dvbdi8m\.default/safebrowsing/

\.config/Atom/GPUCache/

\.cache/mozilla/firefox/5dvbdi8m\.default/thumbnails/

\.gitkraken/profiles/d6e5a8ca26e14325a4275fc33b17e16f/

\.config/GitKraken/GPUCache/

\.atom/nohup\.out

\.atom/storage/application\.json

\.bash_history

\.config/Atom/IndexedDB/file__0\.indexeddb\.leveldb/000003\.log

\.config/Atom/Local Storage/file__0\.localstorage

\.config/Atom/QuotaManager

\.local/share/recently-used\.xbel

\.fluxbox/init

\.cache/efreet/

\.cache/mozilla/firefox/5dvbdi8m\.default/cache2/

\.cache/mozilla/firefox/5dvbdi8m\.default/startupCache/

\.config/pulse/

\.local/share/xorg/

\.gitkraken/secFile

\.atom/blob-store/

\.cache/mozilla/firefox/5dvbdi8m\.default/

\.config/Atom/IndexedDB/file__0\.indexeddb\.leveldb/
